.content {
    /*grid-area: c;*/
    background-color: #ECECEC;
    overflow-y: auto;
}
  
.content .img {
    margin: 10px;
    width: 270px;
    border: 16px solid white;
    border-radius: 12px;
}

.ul.test {
    color: green;
}