.nav {
    grid-area: n;
    background-color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 20px;
    padding: 8px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }

  a {
    color: #373738;
    text-decoration: none;
  }

  .nav div {
    padding: 4px;
  }

  .nav a {
    background: #f0f0f0;
    border-radius: 4px;
    padding: 6px 10px;
    display: block;
  }

  .nav a.active {
    color: #fff;
    background: #7600dc;
  }

  
